/*background-color    : HTML Elementinin arka plan rengini belirler.
transparent           : transparan
color                 : Renk
initial               : HTML Elementi varsayılan biçimlendirme değerine döner.
inherit               : HTML Elementi üst elementin biçimlendirme değerini alır. */

header {
  background-color: aqua;
}

#bir {
  width: 171px;
  height: 18px;
  border: 4px solid blue;
  background-color: red;
}
#iki {
  width: 171px;
  height: 18px;
  border: 4px solid blue;
  background-color: transparent;
}
#uc {
  width: 171px;
  height: 18px;
  border: 4px solid blue;
  background-color: #ff0000;
}
#dort {
  width: 171px;
  height: 18px;
  border: 4px solid red;
  background-color: rgba(0, 0, 255, 0.5);
}
#bes {
  width: 171px;
  height: 18px;
  border: 4px solid blue;
  background-color: initial;
}
#ustdiv1 {
  width: 199px;
  height: 46px;
  border: 4px solid blue;
  background-color: orange;
}

#alti {
  width: 191px;
  height: 18px;
  border: 4px solid blue;
  background-color: initial;
}

/*background-image    : HTML Elementinin arka plan resmini belirler.
none                  : Deger Yok
image                 : Resim.
initial               : HTML Elementi varsayılan biçimlendirme değerine döner.
inherit               : HTML Elementi üst elementin biçimlendirme değerini alır. */

nav {
  background-image: url(../img/Desen.jpg);
}

#yedi {
  width: 1000px;
  height: 100px;
  border: 4px solid blue;
  background-image: url(../img/AnaLogo.png);
}
#sekiz {
  width: 1000px;
  height: 100px;
  border: 4px solid blue;
  background-image: url(../img/Resim.jpg);
}
#dokuz {
  width: 191px;
  height: 18px;
  border: 4px solid blue;
  background-image: none;
}
#on {
  width: 191px;
  height: 18px;
  border: 4px solid blue;
  background-image: url(../img/AnaLogo.png);
}
.on {
  background-image: initial;
}

#onbir {
  width: 200px;
  height: 40px;
  border: 4px solid blue;
  background-color: yellow;
  background-image: url(../img/AnaLogo.png);
}
#ustdiv2 {
  width: 1000px;
  height: 200px;
  border: 4px solid blue;
  background-color: yellow;
  background-image: url(../img/AnaLogo.png);
}
#oniki {
  width: 800px;
  height: 150px;
  border: 4px solid blue;
  background-color: aqua;
  background-image: inherit;
}

/*background-repeat : HTML Elementine atanmış olan arkaplan resminin tekrarlanma özelliklerini belirler.
repeat                : Tekrar Et.
space                 : Boşluk
round                 : Yuvarla
no-repeat             : Tekrar Yok.
repeat-x              : X ekseni boyunca tekrar et
repeat-y              : Y ekseni boyunca tekrar et
initial               : HTML Elementi varsayılan biçimlendirme değerine döner.
inherit               : HTML Elementi üst elementin biçimlendirme değerini alır. */

#onuc {
  width: 1000px;
  height: 150px;
  border: 4px solid red;
  background-image: url(../img/Desen.jpg);
  background-repeat: repeat;
}

#ondort {
  width: 1000px;
  height: 250px;
  border: 4px solid red;
  background-image: url(../img/Desen.jpg);
  background-repeat: space;
}
#onbes {
  width: 1000px;
  height: 250px;
  border: 4px solid red;
  background-image: url(../img/AnaLogo.png);
  background-repeat: round;
}
#onalti {
  width: 1000px;
  height: 250px;
  border: 4px solid red;
  background-image: url(../img/Desen.jpg);
  background-repeat: no-repeat;
}
#onyedi {
  width: 1000px;
  height: 250px;
  border: 4px solid red;
  background-image: url(../img/AnaLogo.png);
  background-repeat: repeat-x;
}
#onsekiz {
  width: 1000px;
  height: 250px;
  border: 4px solid red;
  background-image: url(../img/AnaLogo.png);
  background-repeat: repeat-y;
}
#ondokuz {
  width: 1000px;
  height: 250px;
  border: 4px solid red;
  background-image: url(../img/AnaLogo.png);
  background-repeat: initial;
}
#ustdiv3 {
  width: 1000px;
  height: 250px;
  border: 4px solid blue;
  background-color: aqua;
  background-image: url(../img/AnaLogo.png);
  background-repeat: repeat-x;
}
#yirmi {
  width: 500px;
  height: 100px;
  border: 4px solid red;
  background-color: yellow;
  background-image: url(../img/AnaLogo.png);
  background-repeat: inherit;
}
/*background-size     : HTML Elementine atanmış olan arkaplan resminin boyutunu belirler.
auto                  : Otomatik değer alir.
length                : uzunluk değeri.
%                     : Yüzde değeri.
cover                 : Kapak.
contain               : içerme.
initial               : HTML Elementi varsayılan biçimlendirme değerine döner.
inherit               : HTML Elementi üst elementin biçimlendirme değerini alır. */

#yirmibir {
  width: 800px;
  height: 500px;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

#yirmiiki {
  width: 800px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: 800px;
}
#yirmiuc {
  width: 800px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: 800px 300px;
}

#yirmidort {
  width: 800px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#yirmibes {
  width: 800px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: 70% 70%;
}
#yirmialti {
  width: 800px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#yirmiyedi {
  width: 800px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#yirmisekiz {
  width: 800px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: initial;
}
#ustdiv4 {
  width: 800px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#yirmidokuz {
  margin-top: 70px;
  margin-left: 70px;
  width: 600px;
  height: 350px;
  border: 4px solid black;
  background-image: url(../img/Resim.jpg);
  background-repeat: no-repeat;
  background-size: inherit;
}

/*background-position : HTML Elementine atanmış olan arkaplan resminin konum özelliklerini belirler.
length                : uzunluk değeri.
%                     : Yüzde değeri.
position              : Pozisyon değeri.
initial               : HTML Elementi varsayılan biçimlendirme değerine döner.
inherit               : HTML Elementi üst elementin biçimlendirme değerini alır.
top                   : üst.
right                 : sağ.
bottom                : alt.
left                  : sol.
center                : orta. */

#otuz {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: 100px;
}
#otuzbir {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: 100px 50px;
}
#otuziki {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: 25%;
}
#otuzuc {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
}
#otuzdort {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: top left;
}
#otuzbes {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: top center;
}
#otuzalti {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: top right;
}
#otuzyedi {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: center right;
}
#otuzsekiz {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#otuzdokuz {
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: initial;
}
#ustdiv5 {
  width: 1000px;
  height: 500px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: right top;
}

#kirk {
  margin-top: 120px;
  margin-left: 200px;
  width: 500px;
  height: 250px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: inherit;
}
/*background-attachment : HTML Elementine atanmış olan arkaplan resminin sayfa hareketine göre davranış özelliklerini belirler.
scroll                  : Kaydırma.
fixed                   : sabit.
local                   : yerel.
initial                 : HTML Elementi varsayılan biçimlendirme değerine döner.
inherit                 : HTML Elementi üst elementin biçimlendirme değerini alır.
 */
#kirkbir {
  width: 500px;
  height: 200px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: auto;
}
section {
  width: 100%;
  height: 500px;
  background-image: url(../img/Resim.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#kirkiki {
  width: 500px;
  height: 200px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: auto;
}
#kirkuc {
  width: 500px;
  height: 200px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-attachment: local;
  overflow: auto;
}
#kirkdort {
  width: 500px;
  height: 200px;
  border: 4px solid black;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow: auto;
}
#ustdiv6 {
  width: 1000px;
  height: 400px;
  border: 4px solid black;
  background-size: 400px 100px;
  background-position: 20px 20px;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: auto;
}
#kirkbes {
  margin-top: 120px;
  margin-left: 200px;
  width: 500px;
  height: 200px;
  border: 4px solid black;
  background-size: 400px 100px;
  background-position: center center;
  background-image: url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-attachment: inherit;
  overflow: auto;
}
body {
  background-color: aqua;
  background-image: url(../img/AnaLogo.png), url(../img/AnaLogo.png),
    url(../img/AnaLogo.png), url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: left top, right top, left bottom, right bottom;
  background-attachment: fixed;
}
#kirkalti {
  width: 500px;
  height: 200px;
  border: 4px solid black;
  background-color: yellow;
  background-image: url(../img/AnaLogo.png), url(../img/AnaLogo.png),
    url(../img/AnaLogo.png), url(../img/AnaLogo.png);
  background-repeat: no-repeat;
  background-position: left top, right top, left bottom, right bottom;
  background-attachment: scroll;
}
