/* border-right   : HTML elementinin sağ kenarlık / çerçeve özelliklerini belirler.
Parametreler : length / style / color
Değerler     : 
length        : Uzunluk Değeri.
initial       : HTML Elementi varsayılan Biçimlendirme değerine döner.
inherit       : HTML Elementi üst elementinin Biçimlendirme değerine döner.
thin          : İnce.
medium        : Orta.
thick         : Kalın.
none          : Değer Yok.
hidden        : Gizli.
solid         : Düz çizgi.
double        : Çift çizgi.
dashed        : Kesitli çizği.
dotted        : Noktalı çizgi.
groove        : İçe Dönük Gölgeli Çizgi.
ridge         : Dışa Dönük Gölgeli Çizgi.
inset         : İçe Dönük Derin Çizgi.
outset        : Dışa Dönük Derin Çizgi.
color         : Renk   */

#bir {
  width: 200px;
  height: 40px;
  border-right: 8px solid red;
}
#iki {
  width: 200px;
  height: 40px;
  border-right: 8px solid;
}
#uc {
  width: 200px;
  height: 40px;
  border-right: thin solid red;
}
#dort {
  width: 200px;
  height: 40px;
  border-right: medium solid yellow;
}
#bes {
  width: 200px;
  height: 40px;
  border-right: thick solid orangered;
}
#alti {
  width: 200px;
  height: 40px;
  border: 8px solid darkblue;
  border-right: initial;
}
#ustdiv {
  width: 300px;
  height: 100px;
  border: 8px solid red;
  border-right: 4px double blue;
}
#yedi {
  width: 200px;
  height: 40px;
  border: 8px solid orange;
  border-right: inherit;
}
#sekiz {
  width: 200px;
  height: 40px;
  border: 8px solid green;
  border-right: none;
}
#dokuz {
  width: 200px;
  height: 40px;
  border: 8px solid gray;
  border-right: hidden;
}
#on {
  width: 200px;
  height: 40px;
  border-right: 8px solid red;
}
#onbir {
  width: 200px;
  height: 40px;
  border-right: 8px double aqua;
}
#oniki {
  width: 200px;
  height: 40px;
  border-right: 8px dashed brown;
}
#onuc {
  width: 200px;
  height: 40px;
  border-right: 8px dotted brown;
}
#ondort {
  width: 200px;
  height: 40px;
  border-right: 8px groove brown;
}
#onbes {
  width: 200px;
  height: 40px;
  border-right: 8px ridge brown;
}
#onalti {
  width: 200px;
  height: 40px;
  border-right: 8px inset brown;
}
#onyedi {
  width: 200px;
  height: 40px;
  border-right: 8px outset brown;
}
#onsekiz {
  width: 200px;
  height: 40px;
  border-right: 8px double hsla(100, 50%, 50%, 1);
}

#ondokuz {
  width: 200px;
  height: 40px;
  border: 8px double red;
  border-right: 20px solid blue;
}
/* border-right-width  : HTML elementinin sağ kenarlık / çerçeve genişliğini belirler.
Değerler     : 
length        : Uzunluk Değeri.
initial       : HTML Elementi varsayılan Biçimlendirme değerine döner.
inherit       : HTML Elementi üst elementinin Biçimlendirme değerine döner.
thin          : İnce.
medium        : Orta.
thick         : Kalın.  */

#yirmi {
  width: 200px;
  height: 40px;
  border: 4px solid red;
  border-right-width: 10px;
}
#yirmibir {
  width: 200px;
  height: 40px;
  border: 10px solid red;
  border-right-width: thin;
}
#yirmiiki {
  width: 200px;
  height: 40px;
  border: 10px solid red;
  border-right-width: medium;
}
#yirmiuc {
  width: 200px;
  height: 40px;
  border: 10px solid red;
  border-right-width: thick;
}
#yirmidort {
  width: 200px;
  height: 40px;
  border: 10px solid red;
  border-right-width: initial;
}
#ustdiv2 {
  width: 400px;
  height: 100px;
  border: 6px solid red;
  border-right-width: 20px;
}
#yirmibes {
  width: 200px;
  height: 40px;
  border: 6px solid blue;
  border-right-width: inherit;
}
/* border-right-color   : HTML elementinin sağ kenarlık / çerçeve rengini belirler.
Parametreler  : length / style / color
Değerler      : 
color         : Renk değeri.
transpatent   : Transparan Değeri.
initial       : HTML Elementi varsayılan Biçimlendirme değerine döner.
inherit       : HTML Elementi üst elementinin Biçimlendirme değerine döner.
  */

#yirmialti {
  width: 200px;
  height: 40px;
  border: 6px solid rgba(255, 0, 0, 1);
  border-right-color: blue;
}
#yirmiyedi {
  width: 200px;
  height: 40px;
  border: 6px solid rgba(255, 0, 0, 1);
  border-right-color: transparent;
}
#yirmiyedi {
  width: 200px;
  height: 40px;
  border: 6px solid rgba(255, 0, 0, 1);
  border-right-color: initial;
}
#ustdiv3 {
  width: 300px;
  height: 100px;
  border: 6px solid green;
  border-right-color: orange;
}

#yirmisekiz {
  width: 200px;
  height: 40px;
  border: 6px solid rgb(45, 0, 128);
  border-right-color: inherit;
}

/* border-right-style   : HTML elementinin sağ kenarlık / çerçeve sitilini belirler.
Parametreler : length / style / color
Değerler     : 
none          : Değer Yok.
hidden        : Gizli.
solid         : Düz çizgi.
double        : Çift çizgi.
dashed        : Kesitli çizği.
dotted        : Noktalı çizgi.
groove        : İçe Dönük Gölgeli Çizgi.
ridge         : Dışa Dönük Gölgeli Çizgi.
inset         : İçe Dönük Derin Çizgi.
outset        : Dışa Dönük Derin Çizgi.  
initial       : HTML Elementi varsayılan Biçimlendirme değerine döner.
inherit       : HTML Elementi üst elementinin Biçimlendirme değerine döner.*/

#yirmidokuz {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: none;
}
#otuz {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: hidden;
}
#otuzbir {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: hidden;
}
#otuziki {
  width: 200px;
  height: 40px;
  border: 6px dashed red;
  border-right-style: solid;
}
#otuzuc {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: double;
}
#otuzdort {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: dashed;
}
#otuzbes {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: dotted;
}
#otuzalti {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: groove;
}
#otuzyedi {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: ridge;
}
#otuzsekiz {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: inset;
}
#otuzdokuz {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: outset;
}
#kirk {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: initial;
}
#ustdivdort {
  width: 300px;
  height: 100px;
  border: 6px solid red;
  border-right-style: double;
}

#kirkbir {
  width: 200px;
  height: 40px;
  border: 6px solid red;
  border-right-style: inherit;
}
/* Tüm Border Right özelliklerinin birlikte kullanımı*/

#kirkiki {
  width: 200px;
  height: 40px;
  border: 5px double red;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: orange;
}
