#AnaEleman {
  border: 1px solid blue;
  display: flex;
}
.icEleman {
  border: 1px solid blue;
  color: red;
  padding: 10px;
}
#AnaEleman1 {
  border: 1px solid blue;
  display: inline-flex;
}
.icEleman1 {
  border: 1px solid blue;
  color: red;
  padding: 10px;
}

/* Flex-direction  : Esnek kutuların dizilim yönü özelliklerini belirler 
Değerler:          : row | row-reverse | column | column-reverse | initial

row                : Satır.
row-reverse        : Ters Satır.
column             : Sütun.
column-reverse     : Ters sütun.
initial            : HTML Elementi varsayılan biçimlendirme değerine döner.
*/
#AnaEleman2 {
  display: flex;
  width: 300px;
  height: 300px;
  border: thin solid blue;
  flex-direction: row;
}
.icEleman2 {
  width: 50px;
  height: 50px;
  border: thin solid blue;
}
#AnaEleman3 {
  display: flex;
  width: 300px;
  height: 300px;
  border: thin solid blue;
  flex-direction: row-reverse;
}
.icEleman3 {
  width: 50px;
  height: 50px;
  border: thin solid blue;
}
#AnaEleman4 {
  display: flex;
  width: 300px;
  height: 300px;
  border: thin solid blue;
  flex-direction: column;
}
.icEleman4 {
  width: 50px;
  height: 50px;
  border: thin solid blue;
}
#AnaEleman5 {
  display: flex;
  width: 300px;
  height: 300px;
  border: thin solid blue;
  flex-direction: column-reverse;
}
.icEleman5 {
  width: 50px;
  height: 50px;
  border: thin solid blue;
}
#AnaEleman6 {
  display: flex;
  width: 300px;
  height: 300px;
  border: thin solid blue;
  flex-direction: initial;
}
.icEleman6 {
  width: 50px;
  height: 50px;
  border: thin solid blue;
}
/* Flex-wrap  : Esnek kutuların satır kırılma özelliklerini belirler 
Değerler:       : nowrap | wrap | wrap-reverse | initial

nowrap          : Kırılma Yok.
wrap            : Kırılma.
wrap-reverse    : Ters Kırılma.
initial         : HTML Elementi varsayılan biçimlendirme değerine döner.
*/

.AnaDiv {
  display: flex;
  width: 250px;
  height: 250px;
  border: thin solid gray;
  flex-wrap: nowrap;
}
.icDiv {
  width: 50px;
  height: 50px;
  border: thin solid gray;
}

.AnaDiv1 {
  display: flex;
  width: 250px;
  height: 250px;
  border: thin solid gray;
  flex-wrap: wrap;
}
.icDiv1 {
  width: 50px;
  height: 50px;
  border: thin solid gray;
}
.AnaDiv2 {
  display: flex;
  width: 250px;
  height: 250px;
  border: thin solid gray;
  flex-direction: column;
  flex-wrap: wrap;
}
.icDiv2 {
  width: 50px;
  height: 50px;
  border: thin solid gray;
}
.AnaDiv3 {
  display: flex;
  width: 250px;
  height: 250px;
  border: thin solid gray;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.icDiv3 {
  width: 50px;
  height: 50px;
  border: thin solid gray;
}
.AnaDiv4 {
  display: flex;
  width: 250px;
  height: 250px;
  border: thin solid gray;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
.icDiv4 {
  width: 50px;
  height: 50px;
  border: thin solid gray;
}
.AnaDiv5 {
  display: flex;
  width: 250px;
  height: 250px;
  border: thin solid gray;
  flex-direction: column;
  flex-wrap: initial;
}
.icDiv5 {
  width: 50px;
  height: 50px;
  border: thin solid gray;
}
/* Flex-flow       : Esnek kutuların dizilim yönü ve satır kırılma özelliklerini belirler 
Değerler           :
flex-direction     : row | row-reverse | column | column-reverse | initial
flex-wrap          : nowrap | wrap | wrap-reverse | initial

row                : Satır.
row-reverse        : Ters Satır.
column             : Sütun.
column-reverse     : Ters sütun.
initial            : HTML Elementi varsayılan biçimlendirme değerine döner.
nowrap             : Kırılma Yok.
wrap               : Kırılma.
wrap-reverse       : Ters Kırılma.
initial            : HTML Elementi varsayılan biçimlendirme değerine döner.

*/
.AnaDiv6 {
  display: flex;
  width: 300px;
  height: 400px;
  border: 1px solid red;
  flex-flow: row nowrap;
}
.icDiv6 {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}
.AnaDiv7 {
  display: flex;
  width: 300px;
  height: 400px;
  border: 1px solid red;
  flex-flow: column wrap;
}
.icDiv7 {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}
.AnaDiv8 {
  display: flex;
  width: 300px;
  height: 400px;
  border: 1px solid red;
  flex-flow: row-reverse;
}
.icDiv8 {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}
.AnaDiv9 {
  display: flex;
  width: 300px;
  height: 400px;
  border: 1px solid red;
  flex-flow: column wrap-reverse;
}
.icDiv9 {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}
.AnaDiv10 {
  display: flex;
  width: 300px;
  height: 400px;
  border: 1px solid red;
  flex-flow: initial;
}
.icDiv10 {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}
/* Flex-basis      : Esnek kutu içerisindeki element veya elementlerin diğer elementlere göre başlangıç
 uzunluğu değerlerini belirler 
Değerler           :
auto               : Otomatik Değer Alır.
number             : Rakam.
initial            : HTML Elementi varsayılan biçimlendirme değerine döner.  */

.AnaDiv11 {
  display: flex;
  width: 500px;
  height: 100px;
  border: 1px solid gray;
}

.icDiv11 {
  border: 1px solid blue;
  flex-basis: 50px;
}
.iki {
  border: 1px solid blue;
  flex-basis: 290px;
}

.AnaDiv12 {
  display: flex;
  width: 300px;
  height: 400px;
  border: 1px solid red;
}
.icDiv12 {
  border: 1px solid blue;
  flex-basis: auto;
}
.AnaDiv13 {
  display: flex;
  width: 300px;
  height: 400px;
  border: 1px solid red;
}
.icDiv13 {
  border: 1px solid blue;
  flex-basis: 50px;
}
.AnaDiv14 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
  flex-direction: column;
}
.icDiv14 {
  border: 1px solid blue;
  flex-basis: 50px;
}

.islem {
  flex-basis: 100px;
}

.AnaDiv15 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
  flex-direction: column;
}
.icDiv15 {
  border: 1px solid blue;
  flex-basis: 50px;
}

.islem1 {
  flex-basis: initial;
}
/* Flex-grow       : Esnek kutu içerisindeki element veya elementlerin, diğer elementlere göre büyüklük 
oranının ne şekilde olması gerektiğini belirler.
Değerler           :
number             : Rakam.
initial            : HTML Elementi varsayılan biçimlendirme değerine döner.  */

.AnaDiv16 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
.icDiv16 {
  border: 1px solid blue;
  flex-grow: 0;
}

.AnaDiv17 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
.icDiv17 {
  border: 1px solid blue;
  flex-grow: 1;
}

.AnaDiv18 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
.icDiv18 {
  border: 1px solid blue;
}
.bir {
  flex-grow: 1;
}

.AnaDiv19 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
.icDiv19 {
  border: 1px solid blue;
}
.bes {
  flex-grow: 1;
}
.alti {
  flex-grow: 2;
}

.AnaDiv20 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
  flex-direction: column;
}
.icDiv20 {
  border: 1px solid blue;
  flex-grow: 1;
}

.AnaDiv21 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
  flex-direction: column;
}
.icDiv21 {
  border: 1px solid blue;
  flex-grow: 1;
}
.dort {
  flex-grow: 2;
}
.AnaDiv22 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
.icDiv22 {
  border: 1px solid blue;
  flex-grow: 1;
}
.yedi {
  border: 1px solid blue;
  flex-grow: initial;
}
/* Flex-shrink       : Esnek kutu içerisindeki element veya elementlerin, diğer elementlere göre küçüklük 
yani büzülme oranının ne şekilde olması gerektiğini belirler.
Değerler           :
Değerler           :
number             : Rakam.
initial            : HTML Elementi varsayılan biçimlendirme değerine döner.  */

.AnaDiv23 {
  display: flex;
  width: 500px;
  height: 100px;
  border: 1px solid red;
}
.icDiv23 {
  flex-basis: 200px;
  border: 1px solid red;
  flex-shrink: 1; /*varsayılan hali*/
}

.AnaDiv24 {
  display: flex;
  width: 500px;
  height: 100px;
  border: 1px solid red;
}
.icDiv24 {
  flex-basis: 150px;
  border: 1px solid red;
  flex-shrink: 1;
}
.Deneme {
  flex-shrink: 2;
}

.AnaDiv25 {
  display: flex;
  width: 500px;
  height: 100px;
  border: 1px solid red;
}
.icDiv25 {
  width: 125px;
  border: 1px solid red;
  flex-shrink: 1;
}
.Denemebir {
  flex-shrink: 3;
}

.AnaDiv26 {
  display: flex;
  width: 100px;
  height: 500px;
  border: 1px solid red;
  flex-direction: column;
}
.icDiv26 {
  flex-basis: 150px;
  border: 1px solid red;
  flex-shrink: 1;
}
.Denemeiki {
  flex-shrink: 2;
}

.AnaDiv27 {
  display: flex;
  width: 100px;
  height: 500px;
  border: 1px solid red;
  flex-direction: column;
}
.icDiv27 {
  flex-basis: 150px;
  border: 1px solid red;
  flex-shrink: 1;
}
.Denemeuc {
  flex-shrink: 2;
}

.Denemedort {
  flex-shrink: initial;
}
