/* :any-link pseudo class (sahte sınıfı)
:any-link : Döküman içerisinde bulunan HTML'nin link elementinin
 veya elementlerinin URL değeri boş değil ise stil tanımlar. */

nav a:-webkit-any-link {
  color: red;
  text-decoration: none;
}
nav a:-moz-any-link {
  color: red;
  text-decoration: none;
}

nav a:-o-any-link {
  color: red;
  text-decoration: none;
}

nav a:-ms-any-link {
  color: red;
  text-decoration: none;
}
nav a:any-link {
  color: red;
  text-decoration: none;
}
/* :focus pseudo class (sahte sınıfı)
:focus : Belirtilen HTML elementine odaklanıldığında stil tanımlar.
Belirtilen HTML elementinin odağıdan cıkıldığında stil normale döner. */

section input:focus {
  background-color: aqua;
}

div:focus {
  background-color: aqua;
}
/* :lang() pseudo class (sahte sınıfı)
:lang() :Belirtilen HTML elementine lang (dil) özelliğine göre stil tanımlar.*/

header div:lang(it) {
  color: red;
}

div[id="icerik"] {
  color: blue;
}

/* :target pseudo class (sahte sınıfı)
:target  : Belirtilen HTML Elementine Çapa türündeki Linklerle Bağlanmış olan 
ve tıklandığında hedeflenmiş olan elemente stil tanımlaması yapar*/

ul:target {
  color: blue;
  background-color: yellow;
}
/* :root pseudo class (sahte sınıfı)
:root : HTML Belgesinin Kök Elementine Stil Tanımlar */

:root {
  background-color: #ccc;
}

/* :empty pseudo class (sahte sınıfı)
:empty  :Belirtilen HTML Elementinin içeriği tamamen
 boş ise stil tanımlaması yaapar. */

div:empty {
  width: 100%;
  height: 2px;
  background-color: red;
}
:empty {
  width: 100%;
  height: 2px;
  background-color: yellow;
}
/* :not() pseudo class (sahte sınıfı)
:not() : Belirtilen HTML Elementi Hariç
 Diğer tüm HTML Elementlerine Stil Tanımlar*/

main li {
  color: blue;
  background-color: #fff;
}
main:not(li) {
  color: red;
  background-color: aqua;
}
