/*
page-break-before  : Sayfa yazdırma işlemlerinde belirtilecek olan HTML elementinden önce sayfa sonlandırma
                     durumunu belirler.
Değerler           : auto | always | initial
auto               : Otomatik değer alır.
auto               : Daima.
auto               : HTML elementi varsayılan biçimlendirme değerine döner.
*/

p {
  border: 2px solid red;
  page-break-before: auto;
}
